{% extends "base.html" %}

{% block title %}Просмотр книги: {{ book.title }}{% endblock %}

{% block content %}
<h1>{{ book.title }}</h1>
{% if book.cover %}
    <img src="{{ url_for('images', image_id=cover.id) }}" alt="Обложка книги {{ book.title }}" class="img-fluid" style="max-width: 300px;">
{% else %}
    <p>Обложка отсутствует</p>
{% endif %}
<p>Автор: {{ book.author }}</p>
<p>Год издания: {{ book.year }}</p>
<p>Описание: {{ book.description | safe}}</p>
<h2>Рецензии</h2>
{% if reviews %}
    <ul>
        {% for review in reviews %}
        <li>
            <p>Оценка: {{ rating_choices[review.rating] }}</p>
            <p>{{ review.text | safe }}</p>
            <p>Автор: {{ review.user.login }}</p>
            <hr>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Пока нет рецензий. Вы можете быть первым!</p>
{% endif %}

{% if current_user.is_authenticated %}
    {% if not user_review %}
        <a href="{{ url_for('book_form.write_review', book_id=book.id) }}" class="btn btn-primary">Написать рецензию</a>
    {% else %}
        <div class="user-review">
            <p>Ваша рецензия:</p>
            <p>Оценка: {{ rating_choices[user_review.rating] }}</p>
            <p>{{ user_review.text | safe }}</p>
        </div>
    {% endif %}
{% endif %}

<a href="{{ url_for('index') }}" class="btn btn-primary">Назад к списку</a>

{% endblock %}
